spring:
  datasource:
    url: jdbc:postgresql://db.skzwcjokvhkzynggvame.supabase.co:5432/postgres?sslmode=require
    username: postgres
    password: Ux/c!zf8p.BW#jD
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
